@font-face {
	src: url('FROSTBITE-Narrow.ttf');
	font-family: FROSTBITE-Narrow;
}

@font-face {
	src: url('Roboto-Light.ttf');
	font-family: Roboto-Light;
}

@font-face {
	src: url('fontawesome-webfont.ttf');
	font-family: Font;
}

body {
	margin: 1em;
	font-family: Roboto-Light;
}

.bithatch-logo {
	width: 64px;
}

.snake-title {
	font-family: FROSTBITE-Narrow;
	color: green;
}

pre {
	padding: 1em;
	background-color: #222;
	border: 1px solid green;
}

pre code {
	color: green;
	font-size: 12pt;
}